<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h2>Kullanıcıları için <b>api/clients</b></h2>
            <p>
            </p>
            <p><a class="btn btn-default" href="http://localhost:3061/api/clients" target="_blank">api/clients &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Hesaplar için <b>api/hesaps</b></h2>
            <p><a class="btn btn-default" href="http://localhost:3061/api/hesaps" target="_blank">api/hesaps &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Hesap hareketleri için <b>api/harekets</b></h2>
            <p><a class="btn btn-default" href="http://localhost:3061/api/harekets" target="_blank">api/harekets &raquo;</a></p>
        </div>
    </div>

</div>

